# Ignore node_modules, as it will be installed inside the container
node_modules

# Ignore Next.js cache and build output
.next

# Ignore local environment files (optional but good practice)
.env.local

# Ignore development tools and logs
npm-debug.log
README.md